body{
    background-color: #FFFFFF;
}

.align-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.container-map{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.leaflet-container {
    height: 40vh; 
    width: 90%;
}

.alinhar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn-tracking { 
    background-color: #EA1D2C ;
    color: #ffffff;
    width: 120px;
}

.btn-verde{
    background-color: green;
}

.btn-tracking:hover{
    background-color: #DA5D69 ;
    color: #ffffff;
}

.btn-verde:hover{
    background-color: rgba(6, 219, 6, 0.884);
}
