body{
    background-color: #FFFFFF;
}

.align-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.container-map{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.leaflet-container {
    height: 40vh; 
    width: 90%;
}

.align-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-confirm, .btn-cancel { 
    all: unset;
    padding: .3rem .75rem;
    color: #FFFFFF;
    text-align: center;
    border-radius: .5rem;
    transition: all ease-in .5s;
}

.btn-confirm {
    background-color: #EA1D2C;
}

.btn-confirm:hover{
    background-color: #9C050B;
}

.btn-cancel{
    background-color: #A6A29F;
}

.btn-cancel:hover {
    background-color: #8f8b8b
}